body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background:linear-gradient(-45deg, #1e1e2f,#3a3a6a,#252547,#40407c);
    background-size:400% 400%;
    animation:gradientMove 12s ease infinite;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    max-width:800px;
    margin:auto;
}
h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
}
.subtitle{
    color: white;
    opacity:.75;
    margin-bottom:40px;
}
#container {
    width: 90%;
    max-width: 700px;
    padding: 40px;

    background:rgba(255,255,255,.08);
    backdrop-filter: blur(15px);

    border:1px solid rgba(255,255,255,.12);

    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.4);

    text-align: center;
    color: rgba(255,255,255,0.9);

    transition:.35s;
}
#container:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 40px rgba(0,0,0,.35);
}
#par {
    font-size: 22px;
    line-height: 1.6;
    margin: 20px 0;
}
#btn {
    padding: 12px 30px;
    font-size: 18px;

    border: none;
    border-radius: 10px;

    background: #ffd369;
    color: #1e1e2f;

    cursor: pointer;
    transition: all 0.3s ease;
}

#btn:hover {
    transform: translateY(-2px);
    background: #ffe08a;
    box-shadow:0 0 20px rgba(255, 210, 105, 0.301);
}

#copyBtn {
    margin-top: 20px;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    letter-spacing: 0.3px;

    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.25s ease;
}

#copyBtn:hover {
    color: white;
    border-color: rgba(255, 255, 255, 0.35);
    background: rgba(255, 255, 255, 0.08);
    transform: translateY(-1px);
}

@keyframes gradientMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

@media (max-width:700px){
h1{
    font-size:34px;
}
.subtitle{
    font-size:15px;
}
#container{
    padding:25px;
}
#par{
    font-size:18px;
}
}